* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Antic Didone', serif; 
    font-size: x-large;
    display: flex;
    flex-direction: column;
    min-height: 100vh;  
}

header {
    background: rgba(223, 223, 223, 0.568); 
    color: rgb(0, 0, 0);
    padding: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.logo {
    font-size: 55px;
    font-weight: bold;
}

.nav-btn, .login-btn {
    background: rgba(0, 0, 0, 0);
    color: rgb(0, 0, 0);
    border: none;
    padding: 11px 23px;
    font-size: 16px;
    border-radius: 15px;
    cursor: pointer;
}

.nav-btn:hover, .login-btn:hover {
    background-color: #ffffff98;
    transition: background-color 0.3s ease;
}

.hero-imagem {
    background-image: url('https://img.freepik.com/fotos-premium/casa-grega-com-terraco-e-vista-mar-arquitetura-branca-na-ilha-de-santorini-grecia-linda-paisagem-de-verao_545689-7485.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 800px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.central-search{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: rgba(255, 255, 255, 0);
    padding: 20px;
    border-radius: 0px;
    z-index: 1;
    gap: 15px;

}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
}

.search-bar {
    padding: 12px 12px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 1100px;
    height: 45px;
    transition: width 0.3s ease-in-out;
    align-self: stretch;
}

.search-buttons {
    position: absolute;
    top: 520px;
    left: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    z-index: 1;

}

.search-option {
    padding: 12px 10px;
    font-size: 16px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: #000000;
    border-radius: 10px;
    cursor: pointer;
    transition:  0.3s ease;
    font-family: Arial, Helvetica, sans-serif;
    width: 200px;
    text-align: left;
}

.search-option:hover {
    background-color: #ffffffd8;
}

main {
    flex: 1 1 auto; 
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 50px;
}

.imagem-box-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 100px;
    margin-left: 10px;
    gap: 20px; 
}

.imagem-box {
    display: flex;
    align-items: center;
    background-color: white;
    border: 1px solid #00000063;
    border-radius: 10px;
    overflow: hidden;
    width: 600px;
    padding: 10px;
    gap: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.imagem-box:hover {
    background-color: #8f8e8ea4;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.imagem-box img {
    width: 170px;
    height: 130px;
    border-radius: 5px;
    object-fit: cover;
}

.imagem-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
}

.imagem-info h3 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.preco {
    font-size: 17px;
    font-weight: bold;
    color: #000000;
}

.status {
    font-size: 16px;
    color: #000000;
}

footer {
    background: rgba(3, 3, 3, 0.562);
    color: rgb(250, 250, 250);
    text-align: center;
    padding: 5px;
    color: #ffffff;
}



@media (max-width: 1024px) and (min-width: 601px) {
    .header-left {
        gap: 15px;
    }

    .search-bar {
        width: 200px; 
    }

    .header-right {
        gap: 15px;
    }

    .nav-btn, .login-btn {
        padding: 10px 20px;
        font-size: 14px; 
    }
}

@media (max-width: 700px) {
    .search-bar {
        width: 60%; 
    }
}