* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    font-family: 'Cascadia Code', monospace;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #dfdddd;
}

header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    height: 150px;
    background-color: white;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.329);
}

.header-left {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

.header-center {
    flex: 2;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.header-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logo-img {
    height: 400px;
    object-fit: contain;
    max-width: 100%;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.nav-btn, .contato-btn {
    border: none;
    font-size: 1rem;
    cursor: pointer;
    font-weight: bold;
    padding: 12px 20px;
    border-radius: 10px;
}

.nav-btn {
    background: transparent;
    color: black;
}

.nav-btn:hover {
    opacity: 0.6;
    transition: 0.3s;
}

.contato-btn {
    background-color: #fd9800;
    color: white;
    transition: 0.3s;
}

.contato-btn:hover {
    background-color: #fc893d;
    transform: translateY(-4px);
}

.search-title {
    margin-top: 35px;
    margin-left: 5%;
    font-family: 'Cascadia Code', monospace;
    font-size: clamp(1.5rem, 5vw, 2.5rem);
    font-weight: bold;
    color: #333;
}

.search-button-wrapper {
    margin-left: 5%;
    margin-top: 10px;
    width: fit-content;
}

.central-search {
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    width: 90%;
    padding: 2%;
}

.top-search-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    margin-top: 20px;
}

.search-bar {
    width: 100%;
    max-width: 1450px;
    padding: 14px;
    font-size: 1rem;
    border-radius: 12px;
    border: 1px solid transparent;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

.search-bar-codigo {
    width: 100%;
    max-width: 190px;
    padding: 14px;
    font-size: 1rem;
    border-radius: 12px;
    border: 1px solid transparent;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

.search-bar-area {
    width: 100%;
    max-width: 240px;
    padding: 14px;
    font-size: 1rem;
    border-radius: 12px;
    border: 1px solid transparent;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

.search-bar-codigo:focus, .search-bar-area:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
}

.search-bnt {
    padding: 14px;
    background: #fd9800;
    border-radius: 12px;
    border: 1px solid transparent;
    font-size: 1rem;
    width: 100%;
    max-width: 190px;
    cursor: pointer;
    color: white;
    text-align: center;
}
.search-bnt:hover {
    background-color: #fc893d;
}

.search-inputs-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    margin-top: 5px;
    width: 100%;
    max-width: 1450px;
}

.search-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 15px;
    width: 100%;
    max-width: 1500px;
    margin: 0;
}

.search-button {
    margin-top: 8px;
    background-color: #fd9800;
    color: white;
    padding: 13px 30px;
    border-radius: 12px;
    font-size: 0.9rem;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
    width: fit-content;
}

.search-button:hover {
    background-color: #fc893d;
}

.search-subtitle {
    margin-top: 5%;
    margin-left: 5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
    color: #333;
}

.search-option {
    padding: 14px;
    background: white;
    border-radius: 12px;
    border: 1px solid transparent;
    font-size: 1rem;
    width: 100%;
    max-width: 231px;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
}

.buscar-imoveis {
    font-weight: bold;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px;
    gap: 20px;
}

.imagem-box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 30px 8px;
    margin-top: 60px;
    padding: 10px;
    justify-items: center;
}

.imagem-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    background: white;
    border-radius: 10px;
    border: 1px solid #ccc;
    width: 100%;
    max-width: 550px;
    height: auto;
    min-height: 570px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.329);
    overflow: hidden;
    transition: transform 0.3s ease, background-color 0.3s ease;
    margin-bottom: 20px;
    padding: 5px;
    font-family: Arial, sans-serif;
}

.imagem-box:hover {
    background-color: #ffffff;
    transform: translateY(-6px);
}

.imagem-container {
    position: relative;
    width: 100%;
    height: auto;
}

.imagem-box img {
    width: 100%;
    height: 300px;
    margin-bottom: 15px;
    object-fit: cover;
    border-radius: 10px;
    display: block;
}

.imagem-box img:hover {
    opacity: 0.7;
}

.tag-venda {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #fd9800;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 0.9rem;
    font-weight: bold;
}

.imagem-box .info {
    padding: 15px;
    text-align: left;
}

.imagem-box .info h3 {
    font-size: 25px;
    margin: 0 0 10px;
    font-weight: 600;
    color: #222;
}

.imagem-box .info p {
    font-size: 14px;
    margin: 5px 0;
    color: #444;
}

.imagem-box .price {
    font-size: 18px;
    font-weight: bold;
    color: #111;
    margin: 10px 0;
}

.endereco, .h3 {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.imagem-box .icons {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #eee;
    padding: 10px;
    background-color: #fafafa;
    font-size: 12px;
    text-align: center;
}

.imagem-box .icons div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botao-imagens {
    background-color: #fd9800;
    color: white;
    padding: 17px 40px;
    border: none;
    border-radius: 12px;
    font-size: 1rem;
    cursor: pointer;
    margin: 40px auto;
    transition: transform 0.3s ease, background-color 0.3s ease;
    font-weight: bold;
    display: block;
}

.botao-imagens:hover {
    background-color: #fc893d;
    transform: translateY(-4px);
}

footer {
    background: #222;
    color: #fff;
    text-align: center;
    padding: 10px;
}

@media (max-width: 1024px) {
    .imagem-box-container {
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media (max-width: 600px) {
    .imagem-box-container {
        grid-template-columns: 1fr; 
    }

    .imagem-box {
        max-width: 90%;
        margin: 0 auto;
    }
}
