* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    font-family: 'Cascadia Code', monospace;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #dfdddd;
}

header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    height: 150px;
    background-color: white;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.329);
}

.header-left {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

.header-center {
    flex: 2;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.header-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logo-img {
    height: 400px;
    object-fit: contain;
    width: auto;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.nav-btn, .contato-btn {
    border: none;
    font-size: 1rem;
    cursor: pointer;
    font-weight: bold;
    padding: 12px 20px;
    border-radius: 10px;
}

.nav-btn {
    background: transparent;
    color: black;
}

.nav-btn:hover {
    opacity: 0.6;
    transition: 0.3s;
}

.contato-btn {
    background-color: #fd9800;
    color: white;
    transition: 0.3s;
}

.contato-btn:hover {
    background-color: #fc893d;
    transform: translateY(-4px);
}

.login-btn {
    background-color: #fd9800;
    border: 2px solid;
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    padding: 12px 20px;
    border-radius: 10px;
    margin-left: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.login-btn:hover {
    background-color: #fd9800;
    color: white;
    transform: translateY(-4px);
}

.hero-imagem {
    position: relative; 
    background-image: url('imagens/fundo do site (3).jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 85vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.barra-pesquisa {
    position: absolute; 
    top: 70%; 
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 12px;
    width: 90%;
    max-width: 1600px;
    padding: 30px 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    z-index: 2;
}

.barra-topo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.filtros {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start;
}

.campo {
    flex: 1;
    padding: 18px 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    min-width: 120px;
    font-size: 14px;
    background-color: #f9f9f9;
}

.campo.grande {
    width: 100%;
}

.btn-buscar {
    background-color: #fd9800;
    color: #ffffff;
    padding: 12px 100px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s ease;
}

.btn-buscar:hover {
    background-color: #fc893d;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px;
    gap: 20px;
}

.imagem-box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 40px 8px;
    margin-top: 60px;
    padding: 5px;
    justify-items: center;
}

.imagem-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    background: white;
    border-radius: 10px;
    border: 1px solid #ccc;
    width: 100%;
    max-width: 550px;
    height: auto;
    gap: 5px;
    min-height: 570px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.329);
    overflow: hidden;
    transition: transform 0.3s ease, background-color 0.3s ease;
    margin-bottom: 5px;
    padding: 5px;
    font-family: Arial, sans-serif;
}

.imagem-box:hover {
    background-color: #ffffff;
    transform: translateY(-6px);
}

.imagem-container {
    position: relative;
    width: 100%;
    height: auto;
}

.imagem-box img {
    width: 100%;
    height: 300px;
    margin-bottom: 15px;
    object-fit: cover;
    border-radius: 10px;
    display: block;
}

.imagem-box img:hover {
    opacity: 0.7;
}

.tag-venda {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #fd9800;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 0.9rem;
    font-weight: bold;
}

.imagem-box .info {
    padding: 15px;
    text-align: left;
}

.imagem-box .info h3 {
    font-size: 16px;
    margin: 0 0 10px;
    font-weight: 600;
    color: #222;
}

.imagem-box .info p {
    font-size: 14px;
    margin: 5px 0;
    color: #444;
}

.imagem-box .price {
    font-size: 18px;
    font-weight: bold;
    color: #111;
    margin: 10px 0;
}

.endereco, .h3 {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.imagem-box .icons {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #eee;
    padding: 10px;
    background-color: #fafafa;
    font-size: 12px;
    text-align: center;
}

.imagem-box .icons div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botao-imagens {
    background-color: #fd9800;
    color: white;
    padding: 17px 40px;
    border: none;
    border-radius: 12px;
    font-size: 1rem;
    cursor: pointer;
    margin: 40px auto;
    transition: transform 0.3s ease, background-color 0.3s ease;
    font-weight: bold;
    display: block;
}

.botao-imagens:hover {
    background-color: #fc893d;
    transform: translateY(-4px);
}

footer {
    background: #222;
    color: #fff;
    text-align: center;
    padding: 10px;
}

@media (max-width: 1024px) {
    .imagem-box-container {
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media (max-width: 600px) {
    .imagem-box-container {
        grid-template-columns: 1fr; 
    }

    .imagem-box {
        max-width: 90%;
        margin: 0 auto;
    }

    .logo-img {
        height: 400px;
        width: auto;
    }

    .filtros {
        flex-direction: column;
    }
}
